/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Выравнивание по центру по вертикали */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-button,
.login-button,
.unreg-button {
    width: 210px; /* Фиксированная ширина для всех кнопок */
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.registration-button,
.login-button {
    background-color: #007bff;
    color: #fff;
}

.registration-button:hover,
.login-button:hover {
    background-color: #0056b3; /* Темнее синий при наведении */
}

.unreg-button {
    background-color: #ff0000;
    color: #fff;
}

.unreg-button:hover {
    background-color: #cc0000; /* Темнее красный при наведении */
}

